@use "./variables" as v;
@use "./components/Header.module.scss";
@use "./components/Footer.scss";
@use "./components/ProductCard.scss";
@use "./components/ProductModal.scss";

body {
    font-family: v.$Poppins;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 20px 0;
}