// src/styles/variables.scss
// Cores principais
$primary-color: #ff6600;
$secondary-color: #333;

// Cores do header
$branco-linha: #e0e0e0;
$cinza-claro: #b3b3b3;
$roxo-1: #3019B2;
$roxo-2: #5d1475;
$cor-input: #f0f0f5;

// Sombras e efeitos
$box-shadow: 0px 8px 16px rgba(57, 48, 19, 0.12);

// Fontes
$font-size: 16px;
$font-family: "Poppins", sans-serif;
